.nav {
    background-image: url('https://i.pinimg.com/1200x/6a/98/41/6a9841a5c2768b5c638a0777e7789f38.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    top: 0;
}
.nav-a {
    display: flex;
    justify-content: space-around;
    color: white;
    cursor: pointer;
}
.nav-a > div> p:hover {
    color: orangered;
}
.nav-a > div {
    display: flex;
    gap: 5vh;
}
.nav-b {
    color: white;
    width: 40%;
    padding: 20vh;
}
.nav-b > h1 {
    font-size: 8vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: orangered;

}
.nav-b > .button1 {
    height: 6vh;
    width: 17vh;
    border-radius: 0.5vh;
    background-color: rgb(249, 84, 24);
    border: none;
    color: white;
    cursor: pointer;
}
.nav-b > .button2 {
    height: 6vh;
    width: 17vh;
    border-radius: 0.5vh;
    background-color: transparent;
    color: white;
    border: solid orangered 0.1vh;
    cursor: pointer;
    margin-left: 1vh;
}
.nav-b > .button2:hover {
    background-color: rgb(249, 84, 24);
}
.story {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.story > div > h1 {
    font-size: 60px;
}
.story > div > button {
    color: rgb(62, 26, 0);
    height: 6vh;
    letter-spacing: 0.25vh;
    width: 25vh;
    font-size: 2vh;
    font-weight: normal;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0.5vh;
    font-weight: 600;
    border: 0.1vh solid rgb(62, 26, 0);
}

.story > div > button:hover {
    color: white;
    background-color: rgb(62, 26, 0);
    border: none;
}

.story-a {
    width: 40%;
}
.features {
    background-image: url('https://i.pinimg.com/1200x/6d/88/ba/6d88ba056ad66378e8ec95c341004065.jpg');
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    position: relative;
    background-size: 100%;
    /* width: 100%; */
    height: 80vh;
    color: white;
}
.features-a {
    width: 55%;
}
.features-a > div > button {
    color: white;
    border: 0.1vh solid white;
    border-top-left-radius: 0.6vh;
    border-top-right-radius: 0.6vh;
    background-color: transparent;
    height: 6vh;
    padding: 1vh;
    cursor: pointer;
    font-size: 2.5vh;
    margin: 0.5vh;
}

.features-a > div > button:hover {
    background-color: orangered;
    border: none;
}
.features-a > button {
    background-color: transparent;
    border: solid orangered 0.1vh;
    height: 6vh;
    width: 20vh;
    color: white;
    letter-spacing: 0.1vh;
    font-size: 2vh;
    cursor: pointer;
    border-radius: 0.5vh;
}
.features-a >button:hover {
    background-color: orangered;
}
.features-b {
    position: absolute;
    left: 120vh;
}
/* .features-a,button:nth-child(9) {
    color: orange;
    background-color: transparent;
    height: 40px;
    width: 160px;
    border: orange 1px solid;
    
} */
.features-b > img {
    scale: 0.65;
    animation-name: cup;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: absolute;
    /* animation-timing-function: ease; */
    animation-direction: alternate-reverse;
}

@keyframes cup {
    from {
        transform: translateY(3vh);

    }
}
.services-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-content: space-around;
}
.services > p,h2 {
    display: flex;
    justify-content: center;
}
.services-a {
    /* width: 100%; */
    background-color: white;
    border: 2px solid gray;
    text-align: center;
    height: 30vh;
}
.services-a  p:nth-child(1) {
    font-size: 4vh;
    color: rgb(34, 14, 0);
}
.choose {
    background-image: url('https://i.pinimg.com/1200x/2c/b6/93/2cb69347a12a420511d5534a1df29dca.jpg');
    background-size: 100%;
    height: 70vh;
    width: 100%;
}
.choose > h2 {
    color: orangered;
    font-size: 7vh;
    font-family: serif;
}
.choose > p {
    color: white;
    padding-top: 8vh;
}
.menu > button {
    text-align: center;
    height: 6vh;
    width: 15vh;
    border-radius: 0.5vh;
    border: solid black 0.1vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
}
.menu > button:hover {
    background-color: rgb(34, 14, 0);
    color: white;
}
.menu-a > div > img {
    width: 60vh;
    height: 40vh;
    transition: transform 0.4s ease;
}
.menu-a > div > h3,p {
    text-align: center;
}
.menu-a > div {
    border: solid lightgray 0.1vh;
    width: 60vh;
    margin: 2vh;
}
.menu-a > div:hover {
    box-shadow: 10px 10px 20px black;
}
/* .menu-a > div > img:hover {
    transform: scale(1.1);
} */

.menu-a{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-left: 5vh;
    margin-right: 5vh;
    gap: 0.1vh;
    overflow: hidden;
}

.blog-a {
    display: flex;
    margin: 2vh;
    margin-left: 10vh;
    width: 100%;
}
.blog-a > div > img {
    height: 40vh;
    width: 60vh;
}
.blog > button {
    margin-left: 50%;
    height: 7vh;
    width: 25vh;
    font-weight: bold;
    letter-spacing: 0.1vh;
    border-radius: 0.5vh;
    border: 0.1vh solid rgb(65, 27, 0);
}
.blog > button:hover {
    background-color: rgb(64, 27, 0);
    color: white;
}
.blog-a > div {
    width: 60vh;
    margin-left: 4vh;
    background-color: white;
    border: 0.1vh solid black;
    box-shadow: 10px 10px 15px black;
}
.blog-a > div > div >span {
    display: flex;
    /* justify-content: space-around; */
}
.blog-a>div > div {
    display: flex;
    justify-content: space-around;
    background-color: rgb(235, 235, 235);
    border-top: 0.1vh solid black;
    width: 100%;
    height: 8vh;
    box-sizing: border-box;
}
.blog-a > div > h3 {
    padding: 2vh;
}
.blog-a > div > div >span> img {
    border-radius: 50%;
}

.footer {
    background-image: url('https://i.pinimg.com/1200x/2b/5f/43/2b5f43b39083af8dffc4b6f0dcebc4c8.jpg');
    width: 100%;
    background-size: 100%;
    height: 70vh;
    /* opacity: 90%; */
    display: flex;
    color: white;
    justify-content: space-evenly;
}
.footer > img {
    scale: 0.35;
}
.footer > div {
    display: flex;
    justify-content: space-between;
    padding-right: 80vh;
    padding-top: 20vh;
    column-gap: 30vh;
}
.footer-a {
    display: flex;
    flex-direction: column;
}
.footer-a > a {
    text-decoration: none;
    color: white;
}